= form_for @page do |f|
  - if @page.errors.any?
    .alert.alert-danger.alert-dismissible.fade.show
      %h2= "#{pluralize(@page.errors.count, "error")}:"
      %ul
        - @page.errors.full_messages.each do |message|
          %li= message
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} &times;

  .form-group
    = f.text_field :title, placeholder: :title, class: 'form-control', autocomplete: 'off'
  .form-group
    = f.text_field :subtitle, placeholder: :subtitle, class: 'form-control', autocomplete: 'off'
  .form-group
    = f.text_field :author, placeholder: :author, class: 'form-control'
  .form-group
    = f.label :content
    = f.text_area :content, class: 'form-control'
  .form-group
    = f.submit 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', pages_path, class: 'btn btn-danger'
