%h1.text-center.mb-4.mt-4 Page authors
- if @authors.empty?
  .alert.alert-info There are no authors
- else
  .row
    .col-12.col-md-6.offset-md-3
      .list-group
        - @authors.each do |author|
          .list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center
            = link_to author, pages_path(author: author)
            = link_to delete_author_path(author), method: 'delete', class: 'btn btn-danger', data: { confirm: 'Are you sure?'} do
              = icon 'fas', 'trash-alt'
