- if @page.errors.any?
  .alert.alert-danger
    %h2= "#{pluralize(@page.errors.count, "error")}:"
    %ul
      - @page.errors.full_messages.each do |message|
        %li= message
    = link_to 'Try again', new_page_path
- else
  .alert.alert-info
    The page was successfully created
    = link_to 'See page', @page
