%h1.text-center.mb-4.mt-4
  - if @author.blank?
    All pages
  - else
    Pages by
    = @author

- if @pages.empty?
  .alert.alert-info There are no pages
- else
  .row
    - @pages.each do |page|
      .card.col-12.col-md-4
        .card-body
          = link_to pages_path(author: page.author), class: 'card-link' do
            %p.small.text-muted.text-right=page.author
          %h2.card-title=page.title
          .card-subtitle.mb-2.text-muted=page.subtitle
          .card-text=page.content.truncate_words(50)
          .d-flex.justify-content-between.align-items-center.mt-3
            = link_to 'Read more', page, class: 'card-link'
            .buttons
              = link_to page, method: 'delete', class: 'btn btn-danger mr-3', data: { confirm: 'Are you sure?'} do
                = icon 'fas', 'trash-alt'
              = link_to edit_page_path(page), class: 'btn btn-primary mr-3' do
                = icon 'fas', 'edit'
              = link_to like_page_path(page), method: 'put', class: 'btn btn-success' do
                = icon 'fas', 'heart'
                = page.likes
