%h1.text-center.mt-4=@page.title
.text-muted.text-center.mb-4=@page.subtitle
.row.mb-4
  .col-12.col-md-6.offset-md-1
    .small.text-muted.text-center
      = "Published by #{@page.author} on #{@page.publication_date}"
    .text-justify{style: "text-indent: 10%"}=@page.content
  .col-12.col-md-4
    %h3 Actions
    = link_to pages_path, class: 'btn btn-dark mr-3' do
      = icon 'fas', 'arrow-left'
    = link_to @page, method: 'delete', class: 'btn btn-danger mr-3', data: { confirm: 'Are you sure?'} do
      = icon 'fas', 'trash-alt'
    = link_to edit_page_path(@page), class: 'btn btn-primary mr-3' do
      = icon 'fas', 'edit'
    = link_to like_page_path(@page), method: 'put', class: 'btn btn-success mr-3' do
      = icon 'fas', 'heart'
      = @page.likes
    = link_to dislike_page_path(@page), method: 'put', class: 'btn btn-secondary' do
      = icon 'fas', 'heart-broken'
