- if @page.errors.any?
  .alert.alert-danger
    %h2= "#{pluralize(@page.errors.count, "error")}:"
    %ul
      - @page.errors.full_messages.each do |message|
        %li= message
    = link_to 'Try again', edit_page_path(@page)
- else
  .alert.alert-info
    The page was successfully updated
    = link_to 'See page', @page
