%nav.navbar.navbar-expand.navbar-light.bg-light
  = link_to 'Pages', root_path, class: 'navbar-brand'
  %button.navbar-toggler{type: "button", "data-toggle": "collapse", "data-target": "#navbarNav", "aria-controls": "navbarNav", "aria-expanded": "false", "aria-label": "Toggle navigation"}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarNav
    %ul.navbar-nav
      %li.navbar-item
        = link_to 'Pages', pages_path, class: "nav-link"
      %li.navbar-item
        = link_to 'Authors', authors_path, class: "nav-link"
  = link_to 'New page', new_page_path, class: 'btn btn-primary'
